/* contacto */

.mainTitular_contacto {
  @include flex-center;
  height: 20vh;

  & h1 {
    @include font(h1,3.5rem);
  }
}

.mainSectionUno_contacto {
  
  padding: 6vh 0;

  & form {
    height: 70vh;
    @include flex-col-se-center;

    & div {
      padding-bottom: 20px;
    }
  }

  & label {
    @include font(label,1.7rem);
  }
}

/* Button sacado de https://cssbuttons.io/detail/cssbuttons-io/slippery-jellyfish-67 */

button {
  --color: $tercerColor;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
 }
 
 button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
 }
 
 button:hover {
  color: $blanco;
 }
 
 button:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
 }
 
 button:hover:before {
  top: -30px;
  left: -30px;
 }
 
 button:active:before {
  background: $segundoColor;
  transition: background 0s;
 }