/* diseno */
  /* Aplico Grid */
  .divGrid_disenos {
    display: grid;
    grid-template-columns: 40vw 60vw;
    grid-template-rows: 35vh 60vh 10vh 60vh 10vh;
    grid-template-areas:
      "a1 a1"
      "a2 a3"
      "a4 a4"
      "a5 a6"
      "a7 a7";
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
  }
  
  .mainTitular_disenos {
    grid-area: a1;

    & h1 {
      font-size: 3.5rem;
      font-family: "Poppins", sans-serif;
      text-align: center;
    }
  }
  
  .divUno_disenos {
    grid-area: a2;
    background-color: $segundoColor;
    height: 60vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h2 {
      font-size: 2.7rem;
      font-family: "Poppins", sans-serif;
      padding: 0 2vw;
      color: $blanco;
      text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    }

    & p {
      font-size: 1.5rem;
      font-family: "Ubuntu", sans-serif;
      padding: 0 2vw;
      color: $blanco;
      text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    }
  }
  
  .divDos_disenos {
    grid-area: a3;
    background-color: $segundoColor;
    height: 60vh;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .divTres_disenos {
    grid-area: a5;
    background-color: $segundoColor;
    height: 60vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h2 {
      font-size: 2.7rem;
      font-family: "Poppins", sans-serif;
      padding: 0 2vw;
      color: $blanco;
      text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    }

    & p {
      font-size: 1.5rem;
      font-family: "Ubuntu", sans-serif;
      padding: 0 2vw;
      color: $blanco;
      text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    }
  }
  
  .divCuatro_disenos {
    grid-area: a6;
    background-color: $segundoColor;
    height: 60vh;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .divSeparador_1 {
    grid-area: a4;
    height: 10vh;
  }
  
  .divSeparador_2 {
    grid-area: a7;
    height: 10vh;
  }
  
  .imagenShadow {
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.7);
  }