/* Correspondiente a herramienta */
/* Aplico Flex */
.mainHerramienta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Aplico Flex para h1 y p */
.mainTitular_herramienta {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Div Iframe */
.divIframe {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divIframeHerramienta {
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.7);
}

/* Formateo mainTitular_herramienta */

.mainTitular_herramienta {
  & h1 {
    font-size: 3.5rem;
    font-family: "Poppins", sans-serif;
    text-align: center;
  }

  & p {
    font-size: 1.7rem;
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    padding: 0 10vw;
    padding-top: 3vh;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  }
}

@media screen and (max-width: 600px) {
  .mainTitular_herramienta {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h1 {
      font-size: 7vw;
      font-family: "Poppins", sans-serif;
      text-align: center;
    }

    & p {
      font-size: 4.5vw;
      font-family: "Ubuntu", sans-serif;
      text-align: center;
      padding: 0 10vw;
      padding-top: 3vh;
      text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    }
  }
}

@media screen and (max-width: 1024px) and (min-width: 600px) {
  /* Herramienta */

  .mainTitular_herramienta {
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h1 {
      font-size: 5.2vw;
      font-family: "Poppins", sans-serif;
      text-align: center;
    }

    & p {
      font-size: 3.2vw;
      font-family: "Ubuntu", sans-serif;
      text-align: center;
      padding: 0 10vw;
      padding-top: 3vh;
      text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    }
  }
}
