/* Correspondiente a herramienta */
/* Aplico Flex */
.mainHerramienta {
  @include flex-col-center;
}
/* Aplico Flex para h1 y p */
.mainTitular_herramienta {
  height: 50vh;
  @include flex-col-center;
}

.cardSection{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70vh;
}

/* Div Iframe */
.divIframe {
  height: 85vh;
  @include flex-col-center;
}

.divIframeHerramienta {
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.7);
}

/* Formateo mainTitular_herramienta */

.mainTitular_herramienta {
  & h1 {
    @include font(h1,3.5rem);
  }

  & p {
    @include font(p,1.7rem);
    padding: 0 10vw;
    padding-top: 3vh;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  }
}

@media screen and (max-width: 600px) {
  .mainTitular_herramienta {
    height: 80vh;
    @include flex-col-center;

    & h1 {
      @include font(h1,7vw);
    }

    & p {
      @include font(p,4.5vw);
      padding: 0 10vw;
      padding-top: 3vh;
      text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    }
  }

  .cardSection{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 130vh;
  }

}

@media screen and (max-width: 1024px) and (min-width: 600px) {
  /* Herramienta */

  .mainTitular_herramienta {
    height: 65vh;
    @include flex-col-center;

    & h1 {
      @include font(h1,5.2vw);
    }

    & p {
      @include font(p,3.2vw);
      padding: 0 10vw;
      padding-top: 3vh;
      text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    }
  }

  .cardSection{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 130vh;
  }

}
