/* Correspondiente a Index */
/* Grid Index */

.mainIndex {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 35vh 65vh 80vh;
  grid-template-areas:
    "a1 a1"
    "a2 a2"
    "a3 a4";
}

/* Primer Area Index */

.mainTitular {
  grid-area: a1;
  justify-self: center;
  align-self: center;

  & h1 {
    font-size: 3.5rem;
    font-family: "Poppins", sans-serif;
    text-align: center;
  }

  & p {
    font-size: 16px;
    font-family: "Ubuntu", sans-serif;
    text-align: center;
  }
}

/* segundo Area Index */

.mainSectionUno {
  grid-area: a2;
  position: relative;

  & h2 {
    font-size: 2.5rem;
    padding: 0 0.5rem;
    font-family: "Roboto", sans-serif;
    text-align: center;
    color: $blanco;
  }

  & p {
    font-size: 1.4rem;
    padding: 0 0.5rem;
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    color: $blanco;
  }
}

.mainSectionUnoBackground {
  background-image: url("../img/ejemplo_diseno.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainSectionUnoDiv {
  position: absolute;
  left: 10vw;
  width: 35vw;
  height: 65vh;
  background-color: $tercerColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* Tercer Area Index */

.mainSectionDosDivDos {
  grid-area: a3;
  justify-self: center;
  align-self: center;
  width: 80%;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.603);
}

/* Cuarto Area Index */

.mainSectionDosDivUno {
  grid-area: a4;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 400px;

  & h2 {
    font-size: 2.5rem;
    padding: 0 0.5rem;
    font-family: "Roboto", sans-serif;
    text-align: center;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  }
  
  & p {
    font-size: 1.4rem;
    padding: 0 0.5rem;
    font-family: "Ubuntu", sans-serif;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .mainIndex {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50vh 75vh 50vh 50vh;
    grid-template-areas:
      "a1"
      "a2"
      "a3"
      "a4";
  }

  .mainTitular {
    grid-area: a1;
    justify-self: center;
    align-self: center;

    & h1 {
      font-size: 8vw;
      font-family: "Poppins", sans-serif;
      text-align: center;
      padding: 2vw 0;
    }

    & p {
      font-size: 4vw;
      font-family: "Ubuntu", sans-serif;
      text-align: center;
    }
  }

  .mainSectionUnoDiv {
    position: absolute;
    left: 10vw;
    width: 80vw;
    height: 75vh;
    background-color: $tercerColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .mainSectionUno {
    & h2 {
      font-size: 7vw;
      padding: 0 2vw;
      font-family: "Roboto", sans-serif;
      text-align: center;
      color: $blanco;
    }

    & p {
      font-size: 5vw;
      padding: 0 2vw;
      font-family: "Ubuntu", sans-serif;
      text-align: center;
      color: $blanco;
    }
  }

  .mainSectionDosDivUno {
    grid-area: a3;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 50hv;

    & h2 {
      font-size: 7vw;
      padding: 0 2vw;
      padding-top: 20vw;
      font-family: "Roboto", sans-serif;
      text-align: center;
    }
  
    & p {
      font-size: 5vw;
      padding: 0 10vw;
      padding-bottom: 10vw;
      font-family: "Ubuntu", sans-serif;
      text-align: center;
    }
  }

  .mainSectionDosDivDos {
    grid-area: a4;
    justify-self: center;
    align-self: center;
    width: 80%;
  }
}

@media screen and (max-width: 1024px) and (min-width: 600px) {
  /* Index */
  .mainIndex {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 55vh 80vh 80vh 110vh;
    grid-template-areas:
      "a1"
      "a2"
      "a3"
      "a4";
  }

  .mainTitular {
    grid-area: a1;
    justify-self: center;
    align-self: center;

    & h1 {
      font-size: 7vw;
      font-family: "Poppins", sans-serif;
      text-align: center;
      padding: 2vw 0;
    }

    & p {
      font-size: 4vw;
      font-family: "Ubuntu", sans-serif;
      text-align: center;
    }
  }

  .mainSectionUnoDiv {
    position: absolute;
    left: 10vw;
    width: 80vw;
    height: 80vh;
    background-color: $tercerColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .mainSectionUno {
    & h2 {
      font-size: 5vw;
      padding: 0 2vw;
      font-family: "Roboto", sans-serif;
      text-align: center;
      color: $blanco;
    }

    & p {
      font-size: 3vw;
      padding: 0 2vw;
      font-family: "Ubuntu", sans-serif;
      text-align: center;
      color: $blanco;
    }
  }

  .mainSectionDosDivUno {
    grid-area: a3;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 80hv;

    & h2 {
      font-size: 6vw;
      padding: 0 2vw;
      font-family: "Roboto", sans-serif;
      text-align: center;
    }
  
    & p {
      font-size: 4.2vw;
      padding: 0 10vw;
      font-family: "Ubuntu", sans-serif;
      text-align: center;
    }
  }

  .mainSectionDosDivDos {
    grid-area: a4;
    justify-self: center;
    align-self: center;
    width: 80%;
  }
}
