/* Correspondiente a Index */
/* Grid Index */

.mainIndex {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 35vh 65vh 80vh;
  grid-template-areas:
    "a1 a1"
    "a2 a2"
    "a3 a4";
}

/* Primer Area Index */

.mainTitular {
  grid-area: a1;
  @include self-center;

  & h1 {
    @include font(h1,3.5rem);
  }
}

/* segundo Area Index */

.mainSectionUno {
  grid-area: a2;
  position: relative;

  & h2 {
    @include font(h2,2.5rem);
    padding: 0 0.5rem;
    color: $blanco;
  }

  & p {
    @include font(p,1.4rem);
    padding: 0 0.5rem;
    color: $blanco;
  }
}

.mainSectionUnoBackground {
  background-image: url("../img/ejemplo_diseno.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainSectionUnoDiv {
  position: absolute;
  left: 10vw;
  width: 35vw;
  height: 65vh;
  background-color: $tercerColor;
  @include flex-col-se-center;
}

/* Tercer Area Index */

.mainSectionDosDivDos {
  grid-area: a3;
  @include self-center;
  width: 80%;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.603);
}

/* Cuarto Area Index */

.mainSectionDosDivUno {
  grid-area: a4;
  @include self-center;
  @include flex-col-se-center;
  height: 400px;

  & h2 {
    @include font(h2,2.5rem);
    padding: 0 0.5rem;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  }
  
  & p {
    @include font(p,1.4rem);
    padding: 0 0.5rem;
  }
}

@media screen and (max-width: 600px) {
  .mainIndex {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50vh 75vh 50vh 50vh;
    grid-template-areas:
      "a1"
      "a2"
      "a3"
      "a4";
  }

  .mainTitular {
    grid-area: a1;
    @include self-center;

    & h1 {
      @include font(h1,8vw);
      padding: 2vw 0;
    }

    & p {
      @include font(p,4vw);
    }
  }

  .mainSectionUnoDiv {
    position: absolute;
    left: 10vw;
    width: 80vw;
    height: 75vh;
    background-color: $tercerColor;
    @include flex-col-se-center;
  }

  .mainSectionUno {
    & h2 {
      @include font(h2,7vw);
      padding: 0 2vw;
      color: $blanco;
    }

    & p {
      @include font(p,5vw);
      padding: 0 2vw;
      color: $blanco;
    }
  }

  .mainSectionDosDivUno {
    grid-area: a3;
    @include self-center;
    @include flex-col-se-center;
    height: 50hv;

    & h2 {
      @include font(h2,7vw);
      padding: 0 2vw;
      padding-top: 20vw;
    }
  
    & p {
      @include font(p,5vw);
      padding: 0 10vw;
      padding-bottom: 10vw;
    }
  }

  .mainSectionDosDivDos {
    grid-area: a4;
    @include self-center;
    width: 80%;
  }
}

@media screen and (max-width: 1024px) and (min-width: 600px) {
  /* Index */
  .mainIndex {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 55vh 80vh 80vh 110vh;
    grid-template-areas:
      "a1"
      "a2"
      "a3"
      "a4";
  }

  .mainTitular {
    grid-area: a1;
    @include self-center;

    & h1 {
      @include font(h1,7vw);
      padding: 2vw 0;
    }

    & p {
      @include font(p,4vw);
    }
  }

  .mainSectionUnoDiv {
    position: absolute;
    left: 10vw;
    width: 80vw;
    height: 80vh;
    background-color: $tercerColor;
    @include flex-col-se-center;
  }

  .mainSectionUno {
    & h2 {
      @include font(h2,5vw);
      padding: 0 2vw;
      color: $blanco;
    }

    & p {
      @include font(p,3vw);
      padding: 0 2vw;
      color: $blanco;
    }
  }

  .mainSectionDosDivUno {
    grid-area: a3;
    @include self-center;
    @include flex-col-se-center;
    height: 80hv;

    & h2 {
      @include font(h2,6vw);
      padding: 0 2vw;
    }
  
    & p {
      @include font(p,4.2vw);
      padding: 0 10vw;
    }
  }

  .mainSectionDosDivDos {
    grid-area: a4;
    @include self-center;
    width: 80%;
  }
}
