 /* Correspondiente a Tutoriales */
  /* Grid Titulares */
  
  .mainTutoriales {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 35vh 65vh 80vh 80vh;
    grid-template-areas:
      "a1 a1"
      "a2 a2"
      "a3 a4"
      "a5 a6";
  }
  
  .mainTitular_tutoriales {
    grid-area: a1;
    justify-self: center;
    align-self: center;
  }
  
  .mainSectionUno_tutoriales {
    grid-area: a2;
    justify-self: center;
    align-self: center;
    background-color: #345b63;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 65vh;
  }
  
  .video-1 {
    grid-area: a3;
  }
  
  .video-2 {
    grid-area: a4;
  }
  
  .video-3 {
    grid-area: a5;
  }
  
  .video-4 {
    grid-area: a6;
  }
  
  /* Hago esto para que los videos no ocupen 100% */
  .videoTutoriales {
    justify-self: center;
    align-self: center;
    width: 80%;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.603);
  }
  
  /* tutoriales */
  /* Formateo mainTitular_tutoriales */
  .mainTitular_tutoriales h1 {
    font-size: 3.5rem;
    font-family: "Poppins", sans-serif;
    text-align: center;
  }
  
  /* Formateo mainSectionUno_tutoriales */
  .mainSectionUno_tutoriales h2 {
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    text-align: center;
    width: 80%;
    color: white;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  }
  
  .mainSectionUno_tutoriales p {
    font-size: 1.7rem;
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    width: 80%;
    color: white;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  }

  @media screen and (max-width: 600px) {
    .mainTutoriales {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 50vh 90vh 55vh 55vh 55vh 55vh;
      grid-template-areas:
        "a1"
        "a2"
        "a3"
        "a4"
        "a5"
        "a6";
    }
  
    .mainTitular_tutoriales {
      grid-area: a1;
      justify-self: center;
      align-self: center;
    }
  
    .mainTitular_tutoriales h1 {
      font-size: 8vw;
      font-family: "Poppins", sans-serif;
      text-align: center;
      padding: 2vw 0;
    }
  
    .mainSectionUno_tutoriales {
      grid-area: a2;
      justify-self: center;
      align-self: center;
      background-color: #345b63;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      height: 90vh;
    }
  
    .mainSectionUno_tutoriales h2 {
      font-size: 7vw;
      padding: 0 2vw;
      font-family: "Roboto", sans-serif;
      text-align: center;
      color: white;
    }
  
    .mainSectionUno_tutoriales p {
      font-size: 5vw;
      padding: 0 2vw;
      font-family: "Ubuntu", sans-serif;
      text-align: center;
      color: white;
    }
  
    .video-1 {
      grid-area: a3;
    }
  
    .video-2 {
      grid-area: a4;
    }
  
    .video-3 {
      grid-area: a5;
    }
  
    .video-4 {
      grid-area: a6;
    }
  }

  @media screen and (max-width: 1024px) and (min-width: 600px) {
    /* Tutoriales */
  
    .mainTutoriales {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 55vh 80vh 110vh 110vh 110vh 110vh;
      grid-template-areas:
        "a1"
        "a2"
        "a3"
        "a4"
        "a5"
        "a6";
    }
  
    .mainTitular_tutoriales {
      grid-area: a1;
      justify-self: center;
      align-self: center;
    }
  
    .mainTitular_tutoriales h1 {
      font-size: 7vw;
      font-family: "Poppins", sans-serif;
      text-align: center;
      padding: 2vw 0;
    }
  
    .mainSectionUno_tutoriales {
      grid-area: a2;
      justify-self: center;
      align-self: center;
      background-color: #345b63;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      height: 80vh;
    }
  
    .mainSectionUno_tutoriales h2 {
      font-size: 5vw;
      padding: 0 2vw;
      font-family: "Roboto", sans-serif;
      text-align: center;
      color: white;
    }
  
    .mainSectionUno_tutoriales p {
      font-size: 3vw;
      padding: 0 2vw;
      font-family: "Ubuntu", sans-serif;
      text-align: center;
      color: white;
    }
  
    .video-1 {
      grid-area: a3;
    }
  
    .video-2 {
      grid-area: a4;
    }
  
    .video-3 {
      grid-area: a5;
    }
  
    .video-4 {
      grid-area: a6;
    }
  }