/* Correspondiente a Tutoriales */
/* Grid Titulares */

.mainTutoriales {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 35vh 65vh 80vh 80vh;
  grid-template-areas:
    "a1 a1"
    "a2 a2"
    "a3 a4"
    "a5 a6";
}

.mainTitular_tutoriales {
  grid-area: a1;
  @include self-center;

  & h1 {
    @include font(h1,3.5rem);
  }
}

.mainSectionUno_tutoriales {
  grid-area: a2;
  @include self-center;
  @include flex-col-se-center;
  background-color: $segundoColor;
  height: 65vh;

  & h2 {
    @include font(h2,3rem);
    width: 80%;
    color: $blanco;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  }

  & p {
    @include font(p,1.7rem);
    width: 80%;
    color: $blanco;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  }
}

.video-1 {
  grid-area: a3;
}

.video-2 {
  grid-area: a4;
}

.video-3 {
  grid-area: a5;
}

.video-4 {
  grid-area: a6;
}

/* Hago esto para que los videos no ocupen 100% */
.videoTutoriales {
  @include self-center;
  width: 80%;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.603);
}

@media screen and (max-width: 600px) {
  .mainTutoriales {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50vh 90vh 55vh 55vh 55vh 55vh;
    grid-template-areas:
      "a1"
      "a2"
      "a3"
      "a4"
      "a5"
      "a6";
  }

  .mainTitular_tutoriales {
    grid-area: a1;
    @include self-center;

    & h1 {
      @include font(h1,8vw);
      padding: 2vw 0;
    }
  }

  .mainSectionUno_tutoriales {
    grid-area: a2;
    @include self-center;
    @include flex-col-se-center;
    background-color: $segundoColor;
    height: 90vh;

    & h2 {
      @include font(h2,7vw);
      padding: 0 2vw;
      color: $blanco;
    }

    & p {
      @include font(p,5vw);
      padding: 0 2vw;
      color: $blanco;
    }
  }

  .video-1 {
    grid-area: a3;
  }

  .video-2 {
    grid-area: a4;
  }

  .video-3 {
    grid-area: a5;
  }

  .video-4 {
    grid-area: a6;
  }
}

@media screen and (max-width: 1024px) and (min-width: 600px) {
  /* Tutoriales */

  .mainTutoriales {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 55vh 80vh 110vh 110vh 110vh 110vh;
    grid-template-areas:
      "a1"
      "a2"
      "a3"
      "a4"
      "a5"
      "a6";
  }

  .mainTitular_tutoriales {
    grid-area: a1;
    @include self-center;

    & h1 {
      @include font(h1,7vw);
      padding: 2vw 0;
    }
  }

  .mainSectionUno_tutoriales {
    grid-area: a2;
    @include self-center;
    @include flex-col-se-center;
    background-color: $segundoColor;
    height: 80vh;

    & h2 {
      @include font(h2,5vw);
      padding: 0 2vw;
      color: $blanco;
    }

    & p {
      @include font(p,3vw);
      padding: 0 2vw;
      color: $blanco;
    }
  }

  .video-1 {
    grid-area: a3;
  }

  .video-2 {
    grid-area: a4;
  }

  .video-3 {
    grid-area: a5;
  }

  .video-4 {
    grid-area: a6;
  }
}
